* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Serif Display";
    font-size: 14px;
    color: #3e251e;
    background-color: #f7f7f7;
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e251e3f;
}


.container {
    background-image: url(img/background.png);
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3), -5px 0 15px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.title{
    border-bottom: #3e251e solid 1px;
    padding-bottom: 25px;
}

header h1{
    display: flex;
    justify-content: center;
    font-size: 60px;
}

header h2{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

nav{
    margin-top:3px;
    border-top: #3e251e solid 1px;
    display: flex;
    justify-content: center;

}
nav a{
    color: #3e251e;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    padding-right:15px;
}

/********************************************
Admin - Form  
********************************************/

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 760px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    width: 100px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#add-button {
    background-color: #28a745;
}

#edit-button {
    background-color: #ffc107;
}

#delete-button {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.9;
}

/********************************************
Post List 
********************************************/

#post-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#post-list  h3 {
    margin-bottom: 10px;
}
#post-list .image{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
#post-list  img {
    width: 100%;
    margin-bottom: 30px;

}
#post-list p{
    padding-bottom:20px;
}
#post-list .author {
    padding-top: 20px;
    display: flex;
}
.postItem{
    border-bottom: #3e251e solid 1px;  
    padding:30px 0;  
}

.commentList{padding-bottom: 0 !important;}

/********************************************
Footer 
********************************************/

footer {
    display: flex;
}
footer .lineName{
    margin: 15px;
    width: 50%;
    text-align: center;

}
footer .line{
    margin-top:22px ;
    border-top:#3e251e solid 1px;
    width: 100%;
    height: 5px;
    border-bottom:#3e251e solid 1px;
}

/********************************************
Postal Card
********************************************/

.postcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url(./img/postcard-bg.jpg);
    background-size: 320px 320px;
    margin: 60px;
    font-family: "Playwrite GB S", serif;
    font-size: 12px;
    font-weight: 200;
}

.postcard .col-1 {
    flex: 0 1 280px;
}

.postcard .col-2 {
    flex: 0 1 30px;
    padding: 10px 0 0;
}

.postcard .col-3 {
    flex: 0 1 350px;
    position: relative;
    padding: 10px ;
}

.postcard  .col-3 h4{
    font-weight: bold;
    margin-bottom: 10px;
}

.postcard .col-3 .imgRight{
    margin-left: 85px;
}

/********************************************
Button
********************************************/

button {


    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   

   .deleteBtn{
    width: 200px;
    height: 50px;
}

   button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff3636;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }